/* This is the styling file for this project created using CSS3 technology... */
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: "Young serif";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
/* These are some general stylings  that will be used throughout the website, such as text color and size. */

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}
/* These are for the main or parent card container and for the image */

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* These are for the header part and image of the card */

.card-content {
  padding: 30px;
  background-color: #fff;
}

.card-title {
  margin: 0;
  height: 30px;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}
/* These are the parent card-content container,  title, and excerpt */

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.author-info small {
  color: #aaa;
  margin-top: 5px;
}
/* These are for the parent author container and its child like profile-image and, author-info */

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );

  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-text-bg {
  display: inline-block;
  border-radius: 50px;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0%;
  }

  100% {
    background-position: -150% 0%;
  }
}
/* These are for creating that animation scrolling effect on text and content of the card */
